*-checkpoint.ipynb
*.pyc
sample_problems/*.xml
*.gz
*.pt
.vscode/*
sat_data/*
*.dimacs
*sat=0.pt
*sat=1.pt
PyMiniSolvers/*
wandb/*
venv/*
concorde
qsopt_solver
*/images*
src/models/sat/neurosat/data/*
src/models/sat/generic_sat/data/*
src/models/sat/generic_sat/wandb/*