*-checkpoint.ipynb
*.pyc
sample_problems/*.xml
*.gz
*.pt
.vscode/*
sat_data/*
*.dimacs
*sat=0.pt
*sat=1.pt
*.graph
*test.py
*test.ipynb
PyMiniSolvers/*
**/wandb/*
**/__pycache__/*
venv/*
concorde
qsopt_solver
*/images*
src/models/sat/neurosat/data